@model IEnumerable<Supermaket.DB.HANGHOA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<button class="btn btn-success">
    @Html.ActionLink("+ Thêm mới", "ThemMoiHangHoa")
</button>
<table class="table">
    <tr  class="table-hover bg-primary text-center text-white" >
        <th>
            @Html.DisplayNameFor(model => model.TENHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIABAN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIANHAP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ANH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GIOITHIEUSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHOMHANG.TENNHOMHANG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NHASANXUAT.TENNSX)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-hover">
        <td>
            @Html.DisplayFor(modelItem => item.TENHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIABAN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIANHAP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SOLUONG)
        </td>
        <td>
            <img src="@Url.Content("~/Images/Product/"+item.ANH)" style="width:50px; height:50px"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GIOITHIEUSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHOMHANG.TENNHOMHANG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NHASANXUAT.TENNSX)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MAHANG }) |
            @Html.ActionLink("Details", "Details", new { id=item.MAHANG }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MAHANG })
        </td>
    </tr>
}

</table>
